<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>tsing.proxy-update</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>NetworkState</key>
        <true/>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/tsing/bin/proxy/wait.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/tsing/bin/proxy</string>
    <key>StandardErrorPath</key>
    <string>/Users/tsing/log/proxy-update.error</string>
    <key>StandardOutPath</key>
    <string>/Users/tsing/log/proxy-update.log</string>
</dict>
</plist>
